<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name=""
		Language="1033"
		Version="1.0.0.0"
		UpgradeCode="3E2206F4-BD56-447A-93FE-71A8325D34C9"
		Manufacturer="">
		<Package Description=""
			Comments= "Comments"
			InstallerVersion="200"
			Compressed="yes"
		/>
	</Product>
</Wix>
